@font-face {
  font-family: "kufam";
  src: url("/kufam.ttf") format("truetype");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  border-radius: 0;
}
